body {
    background-color: #fcf7f2;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#header {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

h1 {
    font-family: "Gloria Hallelujah";
    /* box-shadow: 1px 1px grey; */
}



#home {
    /* margin-right: 10px; */
    font-weight: 30px;
    font-family: "Poor Story";
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #605f83;
}




#home:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

#home:hover::before, #home:hover::after{
    /* display: block; */
    content: '';
    /* position: absolute; */
    width: 100px;
    height: 100px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

#home:hover::after{
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
}

#footer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100%;
    text-align: right;
}



#info {
    letter-spacing: 2px;
    color: #ccc;
    margin: 180px 0 0 50px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    /* width: 300px; */
}

#top_container {
    position: fixed;
    top: 200px;
}

.message {
    /* padding: 30px 30px 30px 50px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 50px;
	color: #333;
	width: 680px; */
}

#top {
    padding: 30px 30px 30px 50px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 30px;
    color: #333;
    width: 680px;
}

#bottom_container {
    position: absolute;
    top: 2500px;
    height: 2000px;
    width: 100%
}

#bottom {
    padding: 30px 30px 30px 50px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 30px;
    color: #333;
    width: 680px;
}

#attribute {
    /* text-align: right; */
    width: 680px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

img {
    width: 150px;
    height: 150px;
}

#logo {
    height: 50px;
    width: 70px;
    border-radius: 30%;
    margin-left: 15px;
}


